.heading 
{
  position: relative;
  width: 100%;
  letter-spacing: 5px;
}

.heading h1::after
{
  content: "";
  background: #06112a;
  position: absolute;
  border-bottom: #06112a 2px solid;
  left: 47%;
  bottom: -10%;
  width: 100px;
}

.about_sub_heading  
{
  letter-spacing: 10px;
}

/* Dashboard */

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}